.Modal {
  margin: 5em auto;
  max-width: 600px;
  min-width: 300px;

  background-color: var(--col-background-prmy);
  border-radius: 10px;

  padding: 1.25em;

  animation-name: showModal;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  border: none;

  &:popover-open {
    display: flex;
    flex-direction: column;

    position: fixed;
    inset: 0;
    width: 100%;
    height: fit-content;
    margin: auto;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--col-text-prmy);
  }
}

.Modal__closeBtn {
  align-self: flex-end;
  font-size: 2rem;
  cursor: pointer;

  border: none;
  background: none;

  @media (prefers-color-scheme: dark) {
    color: var(--col-text-prmy);
  }
}

.Modal__Title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: var(--fw-sec);
  margin-bottom: 0.25em;
}

.Modal__Description {
  font-size: var(--fs-prmy);
  text-align: center;
  font-weight: var(--fw-prmy);
  margin-bottom: 1.55em;
}

.Modal__form {
  align-self: center;
}

.Modal__submitBtn {
  background-color: light-dark(var(--col-acc-four), var(--col-background-sec));
  color: var(--col-text-prmy);
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;

  margin-top: 1em;

  &:hover {
    background-color: light-dark(
      hsl(from var(--col-acc-four) h s 10% / 0.1),
      hsl(from var(--col-background-sec) h s 60% / 0.1)
    );
  }
}

@keyframes showModal {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
