.mainContent {
  padding: 2rem 3rem;
  margin: 0 auto;
  max-width: 1400px;
}

.HeaderCon {
  width: 100%;

  text-align: center;
}
.GuesserCon {
  margin: 0 auto;
  margin-top: 4em;
}

.syno {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.syno__item {
  padding: 1em;
  text-align: center;
  background-color: #fff;
  border: 10px;
  box-shadow: 18px 14px 33px -7px rgba(0, 0, 0, 0.07);

  width: max-content;
}

.guessingForm {
  margin-top: 4em;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.guessingForm__text_field {
  width: 100px;
  height: 100px;

  border: none;
  border-radius: 10px;
  box-shadow: 18px 14px 33px -7px rgba(0, 0, 0, 0.07);

  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fw-sec);
}
