.mainContent {
  padding: 2rem 1rem;
  margin: 0 auto;
  /* max-width: 1400px; */
}

.HeaderCon {
  width: 100%;
  padding: 0.55em 1em;

  background-color: var(--col-background-sec);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderTitle {
  font-family: var(--ff-sec);
  text-align: center;
  text-transform: uppercase;

  flex: 1;
}

.HeaderIcon {
  font-size: 1.5rem;

  cursor: pointer;
}
.GuesserCon {
  margin: 0 auto;
  margin-top: 4em;

  /* border: 1px solid black; */

  max-width: 600px;

  padding: 1rem;
  background-color: var(--col-background-sec);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.syno {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.syno__item {
  padding: 1em;
  text-align: center;
  background-color: var(--col-background-sec);
  border-radius: 10px;
  box-shadow: var(--box-shadow);

  width: max-content;
}

.GuessedWords {
  padding: 1em;
  margin: 0 auto;
  margin-top: 4em;
  width: 100%;
  height: 100px;

  overflow-y: scroll;

  display: flex;
  gap: 0.78em;
  flex-wrap: wrap;
  align-items: center;
}

.GuessedWords__word {
  padding: 1em;
  text-align: center;
  background-color: var(--col-background-sec);
  border-radius: 10px;
  box-shadow: var(--box-shadow);

  width: max-content;

  animation-name: showGuess;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.guessingForm {
  margin-top: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.guessingLabel {
  font-size: var(--fs-sec);
  font-weight: var(--fw-sec);

  cursor: pointer;
}

.guessingForm__text_field {
  width: 100%;

  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);

  font-size: var(--fs-four);
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fw-sec);

  background-color: var(--col-background-tri);
}

.Hints {
  display: flex;
  justify-content: flex-end;

  margin-top: 1.55em;
}

.Hints_btn {
  border: none;
  border-radius: 10px;
  padding: 0.5em 3.25em;
  font-weight: var(--fw-sec);

  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .guessingForm {
    margin-top: 4em;
  }
  .guessingForm__text_field {
    width: 70%;
  }

  .GuessedWords {
    height: 200px;
  }
}

@keyframes showGuess {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}
