.ModalBackground {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  width: 100%;
  min-height: 100vh;
  padding: 2em;
  z-index: 5555;
}

.Modal {
  margin: 0 auto;
  max-width: 700px;
  min-width: 300px;

  background-color: var(--col-background-prmy);
  border-radius: 10px;

  padding: 1.25em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  animation-name: showModal;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Modal__closeBtn {
  align-self: flex-end;

  font-size: 2rem;
  cursor: pointer;
}

.Modal__Title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: var(--fw-sec);
}

.ModalTextCon {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Modal__Text {
  text-align: center;
  align-self: center;
}

.Modal__Text span {
  font-weight: var(--fw-sec);
}

.Modal__Text:last-child {
  font-weight: var(--fw-sec);
  font-size: 1.15rem;
}

.ModalImg {
  width: 100%;
}

.Modal__Example {
  border-top: 2px solid var(--col-acc-five);
  border-bottom: 2px solid var(--col-acc-five);
  padding: 1em 0;
}

.ExamplesTitle {
  font-weight: var(--fw-sec);
  font-size: var(--fs-sec);
  margin-bottom: 1em;
}
.Example__syns,
.secretWord {
  margin-top: 2.25em;
}

.Example__syns:first-of-type {
  margin-top: 0;
}
.Example__synsTags {
  display: flex;
  gap: 0.55em;
}

.syno__item,
.wrongGuess {
  padding: 1em;
  text-align: center;
  background-color: var(--col-background-sec);
  border-radius: 10px;

  width: max-content;
}

.wrongGuess {
  background-color: var(--col-acc-prmy);
  color: var(--col-text-sec);
}

.trgWordGuess {
  background-color: var(--col-acc-sec);
}

.Example__synsWord,
.secretWord_WordInstuctions {
  margin-top: 0.55em;
  font-weight: var(--fw-sec);
}

.secretWord_Word {
  font-size: 1.55rem;
  font-weight: var(--fw-sec);
  text-align: center;
  text-transform: capitalize;

  padding: 0.25em;
  background-color: var(--col-background-tri);
  border-radius: 10px;

  width: clamp(100px, 30%, 400px);
}

@keyframes showModal {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (min-width: 800px) {
  .ModalBackground {
    display: grid;
    place-items: center;
  }
  .Modal__Text {
    text-align: left;
  }

  .Example__synsTags {
    gap: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  .syno__item {
    background-color: var(--col-background-sec);
  }

  .Modal__Example {
    border-top: 2px solid var(--col-acc-four);
    border-bottom: 2px solid var(--col-acc-four);
  }

  .secretWord_Word {
    background-color: hsl(0, 0%, 16%);
  }
}
