.EndGame {
  width: 100%;

  margin: 0 auto;
  margin-top: 4em;
  padding: 1rem;

  background-color: #fff;
  box-shadow: 18px 14px 33px -7px rgba(0, 0, 0, 0.07);

  border-radius: 10px;

  animation-name: showModal;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.WinState {
  font-size: 2.25rem;
  text-align: center;
  font-weight: var(--fw-sec);
}

.EndGame__Secret {
  font-size: 2rem;
  font-weight: var(--fw-sec);
  text-align: center;
  text-transform: capitalize;
}

.EndGame__defin {
  text-align: center;
  margin-top: 1rem;
}

.EndGame__guessnum {
  text-align: center;
  margin-top: 1em;
  font-weight: var(--fw-sec);
}

.MyGuessCon {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.55em;
  font-size: 1rem;
  margin-top: 1.2em;
}

@keyframes showModal {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}
