.EndGame {
  width: 100%;

  margin: 0 auto;
  margin-top: 2em;
  padding: 1rem;

  background-color: var(--col-background-sec);

  border-radius: 10px;

  animation-name: showModal;
  animation-duration: 0.75s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.WinState {
  font-size: 2.25rem;
  text-align: center;
  font-weight: var(--fw-sec);

  display: flex;
  gap: 0.15em;
  justify-content: center;
}

.WinState_letter {
  text-transform: uppercase;
  text-align: center;
  /* padding: 0.15em; */
  height: 60px;
  width: 60px;

  border-radius: 5px;

  background-color: var(--col-acc-sec);
  color: var(--col-text-prmy);
}

.EndGame__Secret {
  font-size: 2rem;
  font-weight: var(--fw-sec);
  text-align: center;
  text-transform: capitalize;

  padding: 0.25em;
  background-color: var(--col-background-tri);
  border-radius: 10px;
}

.EndGame__Synonyms {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.EndGame__defin {
  text-align: center;
  margin-top: 1rem;
}

.EndGame__guessnum {
  text-align: center;
  margin-top: 1em;
  font-weight: var(--fw-sec);
}

.MyGuessCon {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.55em;
  font-size: 1rem;
  margin-top: 1.2em;
}

.countDown {
  font-size: var(--fs-sec);
  font-weight: var(--fw-sec);
  text-align: center;

  margin: 2rem auto;
}

@keyframes showModal {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}

@media (prefers-color-scheme: dark) {
  .EndGame__Secret {
    background-color: var(--col-background-prmy);
  }
}
